name: Convert Excel

on:
  push:
    paths:
      - util/data.xlsx  # Trigger only if this file changes

  workflow_dispatch:


permissions:
    contents: write

jobs:
  run-script:
    runs-on: self-hosted
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4

      - name: Run script
        run: python3 ${{ github.workspace}}/util/scripts/excel_to_json.py util/data.xlsx truth_lies_and_democracy/Assets/papers/data.json

      - name: commit json file
        uses: EndBug/add-and-commit@v9
        with:
            message: "converted excel to json"
            add: truth_lies_and_democracy/Assets/papers/data.json